/*---------------My variables*---------------*/
/*---------------My variables*---------------*/
/*---------------My Inheritances-------------*/
/* line 12, ../../github 2/EksamenAssens/sass/style.scss */
#service-bigpicture h1 {
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 18, ../../github 2/EksamenAssens/sass/style.scss */
.burgerbar {
  -webkit-box-shadow: -6px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: -6px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: -6px 3px 6px 0px rgba(0, 0, 0, 0.16); }

/*---------------My Inheritances-------------*/
/* line 29, ../../github 2/EksamenAssens/sass/style.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

/* line 35, ../../github 2/EksamenAssens/sass/style.scss */
h1 {
  font-size: 14px; }

/* line 39, ../../github 2/EksamenAssens/sass/style.scss */
body {
  background-color: #FAFAFA; }

/* line 43, ../../github 2/EksamenAssens/sass/style.scss */
.logo {
  margin-top: 30px;
  height: auto;
  width: 400px;
  align-items: flex-end; }

/* line 50, ../../github 2/EksamenAssens/sass/style.scss */
.navbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #FAFAFA;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1.5vh solid transparent;
  border-image-source: url(../images/logo-border.svg);
  border-image-slice: 100;
  border-image-repeat: repeat; }

/* line 66, ../../github 2/EksamenAssens/sass/style.scss */
.navbox a {
  text-decoration: none; }

/* line 69, ../../github 2/EksamenAssens/sass/style.scss */
.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  align-items: center; }

/* line 77, ../../github 2/EksamenAssens/sass/style.scss */
.menubox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 40%;
  max-width: 300px; }
  /* line 84, ../../github 2/EksamenAssens/sass/style.scss */
  .menubox p {
    color: #000000; }

/* line 88, ../../github 2/EksamenAssens/sass/style.scss */
#contact-btn {
  color: #FAFAFA;
  border: 7px solid #CE3233;
  border-radius: 100px;
  background-color: #CE3233; }

/* line 96, ../../github 2/EksamenAssens/sass/style.scss */
.burgerbar {
  position: fixed;
  top: 0;
  right: -250px;
  background: #fafafa;
  width: 230px;
  height: 100%;
  transition: .4s; }

/* line 106, ../../github 2/EksamenAssens/sass/style.scss */
.active {
  right: 0; }

/* line 109, ../../github 2/EksamenAssens/sass/style.scss */
ul {
  margin: 0;
  padding: 20px 0; }

/* line 113, ../../github 2/EksamenAssens/sass/style.scss */
ul li {
  list-style: none; }

/* line 116, ../../github 2/EksamenAssens/sass/style.scss */
ul li a {
  padding: 10px 20px;
  color: #000000;
  font-weight: bold;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

/* line 125, ../../github 2/EksamenAssens/sass/style.scss */
.burger-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent; }

/* line 137, ../../github 2/EksamenAssens/sass/style.scss */
.burger-btn span {
  display: block;
  width: 35px;
  height: 3px;
  background: #252525;
  position: absolute;
  transition: .4s;
  border-radius: 3px; }

/* line 148, ../../github 2/EksamenAssens/sass/style.scss */
.burger-btn span:nth-child(1) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

/* line 156, ../../github 2/EksamenAssens/sass/style.scss */
.burger-btn span:nth-child(2) {
  top: 20px; }

/* line 160, ../../github 2/EksamenAssens/sass/style.scss */
.burger-btn span:nth-child(3) {
  top: 20px; }

/* line 165, ../../github 2/EksamenAssens/sass/style.scss */
.burger-btn span:nth-child(4) {
  top: 30px;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center; }

/* line 173, ../../github 2/EksamenAssens/sass/style.scss */
.burger-btn.open span:nth-child(1) {
  opacity: 0; }

/* line 178, ../../github 2/EksamenAssens/sass/style.scss */
.burger-btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

/* line 185, ../../github 2/EksamenAssens/sass/style.scss */
.burger-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* line 193, ../../github 2/EksamenAssens/sass/style.scss */
.burger-btn.open span:nth-child(4) {
  opacity: 0; }

/* line 201, ../../github 2/EksamenAssens/sass/style.scss */
.forside {
  height: 500px; }

/* line 205, ../../github 2/EksamenAssens/sass/style.scss */
footer {
  height: 500px;
  background-color: #163f70; }

/* line 210, ../../github 2/EksamenAssens/sass/style.scss */
#footer-img {
  width: 100%;
  margin-bottom: -10px; }

@media only screen and (max-width: 768px) {
  /* line 216, ../../github 2/EksamenAssens/sass/style.scss */
  .menubox {
    display: none; }
  /* line 219, ../../github 2/EksamenAssens/sass/style.scss */
  .contactbox {
    display: none; } }

@media only screen and (min-width: 769px) {
  /* line 224, ../../github 2/EksamenAssens/sass/style.scss */
  .burgerbar, .burger-btn {
    display: none; } }

@media only screen and (max-width: 550px) {
  /* line 230, ../../github 2/EksamenAssens/sass/style.scss */
  .logo {
    width: 250px; } }

/* line 237, ../../github 2/EksamenAssens/sass/style.scss */
#service-bigpicture {
  position: relative;
  height: 700px;
  width: 1903px;
  background: url(/images/service-big.jpg);
  background-repeat: no-repeat;
  margin-bottom: 100px; }
  /* line 244, ../../github 2/EksamenAssens/sass/style.scss */
  #service-bigpicture h1 {
    position: relative;
    color: white;
    font-size: 80px;
    top: 300px; }

/* line 254, ../../github 2/EksamenAssens/sass/style.scss */
#conversion {
  position: relative;
  height: 500px;
  width: 1900px; }

/* line 260, ../../github 2/EksamenAssens/sass/style.scss */
#repair {
  height: 500px;
  width: 1900px; }

/* line 265, ../../github 2/EksamenAssens/sass/style.scss */
#newbuilding {
  height: 500px;
  width: 1900px; }

/* line 269, ../../github 2/EksamenAssens/sass/style.scss */
.ser-box {
  float: right;
  height: 300px;
  width: 600px; }

/* line 274, ../../github 2/EksamenAssens/sass/style.scss */
.ser-textbox {
  background: black;
  height: 300px;
  width: 600px;
  opacity: 30%; }

/* line 280, ../../github 2/EksamenAssens/sass/style.scss */
.ser-title {
  font-size: 30px;
  margin-bottom: 10px; }

/* line 284, ../../github 2/EksamenAssens/sass/style.scss */
.ser-text {
  margin-bottom: 10px; }

/* line 287, ../../github 2/EksamenAssens/sass/style.scss */
.mostwanted {
  background: #CE3233;
  border: solid #CE3233;
  border-radius: 20px;
  padding: 2px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px; }

/* line 296, ../../github 2/EksamenAssens/sass/style.scss */
.ser-title, .mostwanted, .ser-text {
  color: white;
  position: relative;
  bottom: 280px;
  margin-left: 5px; }

/*# sourceMappingURL=style.css.map */