/*---------------My variables*---------------*/
/*---------------My variables*---------------*/
/*---------------My Inheritances-------------*/
.facilitiestext, .tekstboks, #mapbody img, #repair-bigpicture h1, #repair-box, #galarri {
  display: flex;
  align-items: center;
  justify-content: center; }

.burgerbar {
  -webkit-box-shadow: -6px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: -6px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: -6px 3px 6px 0px rgba(0, 0, 0, 0.16); }

/*---------------My Inheritances-------------*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

body {
  background-color: #FAFAFA;
  overflow-x: hidden; }

header {
  z-index: 20; }

.logo {
  margin-top: 30px;
  height: auto;
  width: 400px;
  align-items: flex-end; }

.navbox {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #FAFAFA;
  font-size: 20px;
  font-weight: bold;
  z-index: 10000;
  position: fixed;
  border-bottom: 1.5vh solid transparent;
  border-image-source: url(../images/logo-border.svg);
  border-image-slice: 100;
  border-image-repeat: repeat; }

.navbox a {
  text-decoration: none; }

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  align-items: center; }

.menubox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 40%;
  max-width: 300px; }
  .menubox p {
    color: #000000; }

#contact-btn {
  color: #FAFAFA;
  border: 7px solid #CE3233;
  border-radius: 100px;
  background-color: #CE3233; }

.burgerbar {
  position: fixed;
  top: 0;
  right: -250px;
  background: #fafafa;
  width: 230px;
  height: 100%;
  transition: .4s;
  z-index: 10000; }

.active {
  right: 0; }

ul {
  margin: 0;
  padding: 20px 0; }

ul li {
  list-style: none; }

ul li a {
  padding: 10px 20px;
  color: #000000;
  font-weight: bold;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.burger-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent;
  z-index: 10001; }

.burger-btn span {
  display: block;
  width: 35px;
  height: 3px;
  background: #252525;
  position: absolute;
  transition: .4s;
  border-radius: 3px; }

.burger-btn span:nth-child(1) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.burger-btn span:nth-child(2) {
  top: 20px; }

.burger-btn span:nth-child(3) {
  top: 20px; }

.burger-btn span:nth-child(4) {
  top: 30px;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center; }

.burger-btn.open span:nth-child(1) {
  opacity: 0; }

.burger-btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.burger-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.burger-btn.open span:nth-child(4) {
  opacity: 0; }

.facilitiesheader {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  text-align: center; }
  .facilitiesheader img {
    width: 100%;
    height: 400px; }

.headercontainer {
  position: relative;
  z-index: -1; }

.textblock {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

.facilitiesh1 {
  font-size: 50px; }

.facilitiestext {
  position: relative;
  margin: 100px 0 100px;
  width: 100%;
  height: 500px; }

.tekstboks {
  background-color: #E9F6FF;
  width: 70%;
  height: 400px; }

.facilities-tekst {
  width: 60%;
  font-size: 20px; }

#mapbody img {
  position: relative;
  z-index: 9; }

#map {
  position: absolute;
  height: 650px;
  width: 80%;
  left: 10%;
  right: 10%; }

#marker, #marker2, #marker3, #marker4, #marker5, #marker6, #marker7, #marker8, #marker9, #marker10, #marker11, #marker12 {
  background-image: url(../images/logo-small.svg);
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer; }

.mapboxgl-popup {
  max-width: 200px; }

.forside {
  height: 500px; }

#frontpage-hero-img {
  width: 100%;
  height: auto; }

.most-wanted-btns {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-gap: 5%;
  justify-content: center;
  align-self: center;
  margin: 100px 0; }
  .most-wanted-btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FAFAFA;
    width: 100%;
    height: 300px; }
    .most-wanted-btns a h1 {
      font-size: 32px; }

.most-wanted-btns a:nth-child(1) {
  background-image: url(../images/repair-btn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 50%;
  width: 100%; }

.most-wanted-btns a:nth-child(2) {
  background-image: url(../images/conversion-btn.jpg);
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: cover;
  width: 100%; }

.most-wanted-btns a:nth-child(3) {
  background-image: url(../images/newbuilding-btn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 50%;
  height: 300px; }

#intro-video {
  grid-area: intro-video;
  width: 100%;
  margin-bottom: 5vh; }

#about-text {
  grid-area: about-text;
  display: flex;
  justify-self: center;
  align-items: center;
  margin-bottom: 40px; }

#textbox-margin {
  position: relative;
  margin: -20px 0px;
  z-index: -10; }

.frontpage-about {
  background-color: #E9F6FF; }
  .frontpage-about h1 {
    text-align: center; }

.about-grid {
  display: grid;
  margin: 20px 7.5%;
  grid-template-columns: 47.5% 47.5%;
  grid-gap: 5%;
  grid-template-areas: 'about-text intro-video'; }

.frontpage-help {
  display: grid;
  margin: 40px 7.5%;
  grid-template-columns: 47.5% 47.5%;
  grid-gap: 5%;
  grid-template-areas: 'help-img help-text';
  margin: 100px 0; }

#help-img {
  grid-area: help-img;
  width: 100%; }

#help-text {
  text-align: center;
  grid-area: help-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #help-text h1 {
    font-size: 30px; }
  #help-text .call-btn {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 26px;
    background-color: #CE3233;
    border-radius: 100px;
    padding: 5px 20px; }
  #help-text p {
    width: 70%; }
  #help-text img {
    justify-content: center;
    justify-items: center;
    justify-self: center; }

.herobillede {
  background-image: url(../images/kontaktsidehero.png);
  position: relative;
  z-index: -1;
  background-size: cover;
  height: 450px;
  width: 100%; }
  .herobillede h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 200px;
    color: #FAFAFA;
    font-size: 50px; }

.reakke1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-left: 35px; }

.reakke2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px; }

.reakke3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px; }

.reakke4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px; }

.reakke5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px; }

.billederkontakt {
  display: flex;
  flex-direction: row;
  margin-left: 10px; }
  .billederkontakt img {
    height: auto;
    width: 100px;
    margin-right: 20px; }

.tekstboxcontact {
  display: flex;
  flex-direction: row;
  z-index: -1;
  justify-content: center;
  align-content: space-between;
  margin-top: 75px;
  margin-bottom: 100px; }

.tekstkontakt {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.tekst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 75px;
  padding-right: 50px; }

.billedemap {
  height: 100px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 140px;
  margin-right: -50px; }
  .billedemap img {
    height: 400px;
    width: auto; }

.listen {
  list-style: none;
  padding-top: 30px; }

.mobilmap {
  display: none; }

footer {
  height: 400px;
  background-color: #163f70; }

#footer-img {
  width: 100%;
  margin-bottom: -10px; }

footer {
  height: 500px;
  background-color: #163f70; }

#footer-img {
  width: 100%;
  margin-bottom: -10px;
  margin-top: 10vh; }

@media only screen and (max-width: 768px) {
  .most-wanted-btns {
    height: 150px; }
  .most-wanted-btns a:nth-child(1) {
    height: 150px; }
  .most-wanted-btns a:nth-child(2) {
    height: 150px; }
  .most-wanted-btns a:nth-child(3) {
    height: 150px; }
  .most-wanted-btns a h1 {
    font-size: 18px; }
  .menubox {
    display: none; }
  .contactbox {
    display: none; }
  .about-grid {
    grid-template-columns: 100%;
    grid-template-areas: 'intro-video' 'about-text'; }
  .frontpage-help {
    grid-template-columns: 100%;
    grid-template-areas: 'help-text' 'help-img'; }
  .reakke1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .reakke1 img {
      margin-bottom: 15px; }
  .reakke2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .reakke2 img {
      margin-bottom: 15px;
      margin-top: 0; }
  .reakke3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .reakke3 img {
      margin-bottom: 15px; }
  .reakke4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .reakke4 img {
      margin-bottom: 15px; }
  .reakke5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .reakke5 img {
      margin-bottom: 15px; }
  .billedemap img {
    width: auto;
    height: 225px;
    margin-top: -50px; }
  .tekstbox {
    height: 450px; }
  .tekst {
    text-align: center; }
  .mobilmap {
    display: none; } }

@media only screen and (min-width: 769px) {
  .burgerbar,
  .burger-btn {
    display: none; } }

@media only screen and (max-width: 550px) {
  .logo {
    width: 250px; }
  .reakke1 {
    display: flex;
    flex-direction: column;
    padding-left: 15%; }
  .herobillede {
    width: 100%;
    height: auto; }
  .reakke2 {
    display: flex;
    flex-direction: column;
    padding-left: 22%; }
  .reakke3 {
    display: flex;
    flex-direction: column;
    padding-left: 22%; }
  .reakke4 {
    display: flex;
    flex-direction: column;
    padding-left: 22%; }
  .billedemap img {
    width: auto;
    height: 100px;
    margin-top: -85px;
    display: none; }
  .tekstbox {
    height: 200px;
    width: 100%; }
  .tekst {
    text-align: center;
    margin-right: 50px; }
  .mobilmap {
    display: block; }
  .mobilmap img {
    width: 400px;
    height: auto;
    margin-left: 25%;
    margin-bottom: 50px;
    margin-top: -70px; } }

#repair {
  position: relative;
  height: 500px;
  width: 100%;
  background: url(/images/service-repair.jpg); }

#conversion {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  background: url(/images/service-conersion.jpg); }

#newbuilding {
  position: relative;
  height: 500px;
  width: 100%;
  background: url(/images/service-newbuildings.jpg); }

#re-box, #con-box, #new-box {
  position: relative;
  float: right;
  height: 300px;
  width: 600px;
  top: 100px; }

#re-box, #new-box {
  margin-right: 50px; }

#con-box {
  margin-left: 50px; }

.ser-textbox {
  background: black;
  height: 300px;
  width: 600px;
  opacity: 70%; }

.ser-title {
  font-size: 30px;
  margin-bottom: 10px; }

.ser-text {
  margin-bottom: 10px; }

.mostwanted {
  background: #CE3233;
  border: solid #CE3233;
  border-radius: 20px;
  padding: 2px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none; }

.ser-title,
.mostwanted,
.ser-text {
  color: white;
  position: relative;
  bottom: 280px;
  margin-left: 10px; }

#repair-bigpicture {
  position: relative;
  height: 700px;
  width: 1920px;
  background: url(/images/service-big.jpg);
  background-repeat: no-repeat; }
  #repair-bigpicture h1 {
    position: relative;
    color: white;
    font-size: 80px;
    top: 300px; }

#repair-content {
  height: 3000px; }

#repair-box {
  position: relative;
  top: 300px;
  background: url(/images/tb.svg);
  height: 600px;
  width: 1920px;
  color: black;
  text-align: center; }

#galarri {
  position: relative;
  top: 500px; }
