/*---------------My variables*---------------*/
/*---------------My variables*---------------*/
/*---------------My Inheritances-------------*/
/* line 12, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.facilitiestext, .tekstboks, #mapbody img, #repair-bigpicture h1, #repair-box {
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 18, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.burgerbar {
  -webkit-box-shadow: -6px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: -6px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: -6px 3px 6px 0px rgba(0, 0, 0, 0.16); }

/*---------------My Inheritances-------------*/
/* line 29, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

/* line 36, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
body {
  background-color: #FAFAFA;
  overflow-x: hidden; }

/* line 44, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
header {
  z-index: 20; }

/* line 47, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.logo {
  margin-top: 30px;
  height: auto;
  width: 400px;
  align-items: flex-end; }

/* line 55, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.navbox {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #FAFAFA;
  font-size: 20px;
  font-weight: bold;
  z-index: 10000;
  position: fixed;
  border-bottom: 1.5vh solid transparent;
  border-image-source: url(../images/logo-border.svg);
  border-image-slice: 100;
  border-image-repeat: repeat; }

/* line 75, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.navbox a {
  text-decoration: none; }

/* line 80, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  align-items: center; }

/* line 88, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.menubox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 40%;
  max-width: 300px; }
  /* line 96, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .menubox p {
    color: #000000; }

/* line 101, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#contact-btn {
  color: #FAFAFA;
  border: 7px solid #CE3233;
  border-radius: 100px;
  background-color: #CE3233; }

/* line 109, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.burgerbar {
  position: fixed;
  top: 0;
  right: -250px;
  background: #fafafa;
  width: 230px;
  height: 100%;
  transition: .4s;
  z-index: 10000; }

/* line 121, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.active {
  right: 0; }

/* line 125, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
ul {
  margin: 0;
  padding: 20px 0; }

/* line 130, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
ul li {
  list-style: none; }

/* line 134, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
ul li a {
  padding: 10px 20px;
  color: #000000;
  font-weight: bold;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

/* line 144, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.burger-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent;
  z-index: 10001; }

/* line 157, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.burger-btn span {
  display: block;
  width: 35px;
  height: 3px;
  background: #252525;
  position: absolute;
  transition: .4s;
  border-radius: 3px; }

/* line 173, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.burger-btn span:nth-child(1) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

/* line 181, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.burger-btn span:nth-child(2) {
  top: 20px; }

/* line 186, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.burger-btn span:nth-child(3) {
  top: 20px; }

/* line 191, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.burger-btn span:nth-child(4) {
  top: 30px;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center; }

/* line 199, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.burger-btn.open span:nth-child(1) {
  opacity: 0; }

/* line 203, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.burger-btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

/* line 211, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.burger-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* line 219, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.burger-btn.open span:nth-child(4) {
  opacity: 0; }

/* line 224, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.facilitiesheader {
  overflow: hidden;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  text-align: center; }
  /* line 233, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .facilitiesheader img {
    width: 100%;
    height: 400px; }

/* line 239, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.mainpic {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out; }

/* line 247, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.facilitiesheader {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  text-align: center; }
  /* line 256, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .facilitiesheader img {
    width: 100%;
    height: 400px; }

/* line 262, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.headercontainer {
  position: relative;
  z-index: -1; }

/* line 268, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.textblock {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 281, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.facilitiesh1 {
  font-size: 50px; }

/* line 287, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.transition {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }

/* line 297, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.facilitiestext {
  position: relative;
  margin: 100px 0;
  width: 100%;
  flex-direction: column; }

/* line 305, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.tekstboks {
  background-color: #E9F6FF;
  width: 70%;
  padding: 50px 0; }

/* line 313, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.facilities-tekst {
  width: 60%;
  font-size: 20px; }

/* line 318, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#textbox-margin2 {
  position: relative;
  z-index: -10;
  width: 70%;
  height: auto; }

/* line 326, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#mapbody {
  margin-bottom: 100px; }
  /* line 328, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  #mapbody img {
    position: relative;
    z-index: 9; }

/* line 334, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#map {
  position: relative;
  height: 650px;
  width: 80%;
  left: 10%;
  right: 10%; }

/* line 342, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#marker, #marker2, #marker3, #marker4, #marker5, #marker6, #marker7, #marker8, #marker9, #marker10, #marker11, #marker12 {
  background-image: url(../images/logo-small.svg);
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer; }

/* line 350, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.mapboxgl-popup {
  max-width: 200px; }

/* line 354, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.mapwrap {
  position: relative;
  margin: 200px 0; }

/* line 360, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.forside {
  height: 500px; }

/* line 364, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#frontpage-hero-img {
  width: 100%;
  height: auto; }

/* line 370, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.most-wanted-btns {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 22% 22% 22%;
  grid-gap: 5%;
  justify-content: center;
  align-self: center;
  margin: 100px 0; }
  /* line 380, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .most-wanted-btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FAFAFA;
    width: 100%;
    height: 300px; }
    /* line 388, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
    .most-wanted-btns a h1 {
      font-size: 32px; }

/* line 393, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.most-wanted-btns a:nth-child(1) {
  background-image: url(../images/repair-btn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 50%;
  width: 100%; }

/* line 402, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.most-wanted-btns a:nth-child(2) {
  background-image: url(../images/conversion-btn.jpg);
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: cover;
  width: 100%; }

/* line 409, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.most-wanted-btns a:nth-child(3) {
  background-image: url(../images/newbuilding-btn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 50%;
  height: 300px; }

/* line 418, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#intro-video {
  grid-area: intro-video;
  width: 100%;
  margin-bottom: 5vh; }

/* line 424, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#about-text {
  grid-area: about-text;
  display: flex;
  justify-self: center;
  align-items: center;
  margin-bottom: 40px; }

/* line 433, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#textbox-margin {
  position: relative;
  z-index: 10; }

/* line 437, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.frontpage-about {
  background-color: #E9F6FF;
  margin-top: -10px; }
  /* line 441, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .frontpage-about h1 {
    padding: 10px 0px;
    text-align: center; }

/* line 446, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.about-grid {
  display: grid;
  margin: 0px 7.5%;
  grid-template-columns: 47.5% 47.5%;
  grid-gap: 5%;
  grid-template-areas: 'about-text intro-video'; }

/* line 454, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.frontpage-help {
  display: grid;
  margin: 40px 7.5%;
  grid-template-columns: 40% 40%;
  grid-gap: 5%;
  grid-template-areas: 'help-img help-text';
  margin: 100px 0;
  justify-content: center; }

/* line 464, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#help-img {
  grid-area: help-img;
  width: 80%;
  justify-self: center; }

/* line 470, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#help-text {
  text-align: center;
  grid-area: help-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  /* line 478, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  #help-text h1 {
    font-size: 30px; }
  /* line 481, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  #help-text .call-btn {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 26px;
    background-color: #CE3233;
    border-radius: 100px;
    padding: 5px 20px; }
  /* line 489, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  #help-text p {
    width: 70%; }
  /* line 492, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  #help-text img {
    justify-content: center;
    justify-items: center;
    justify-self: center; }

/* line 507, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.reakke1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px; }

/* line 517, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.reakke2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px; }

/* line 524, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.reakke3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px; }

/* line 529, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.reakke4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px; }

/* line 537, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.wherearewe {
  text-align: center; }

/* line 540, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.billederkontakt {
  display: flex;
  flex-direction: row;
  margin-left: 10px; }
  /* line 546, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .billederkontakt img {
    height: auto;
    width: 100px;
    margin-right: 20px; }

/* line 551, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.tekstmedbillede {
  display: flex;
  flex-direction: row;
  text-align: center; }

/* line 556, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.tekstboxcontact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  text-align: center;
  margin-top: 75px; }
  /* line 563, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .tekstboxcontact h2 {
    margin-bottom: 25px; }

/* line 574, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.contact-background {
  padding: 40px 0px;
  margin-top: 20px;
  padding-bottom: 100px; }
  /* line 581, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .contact-background h2 {
    text-align: center;
    margin-bottom: 40px; }

/* line 588, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.protrat {
  background-color: #E9F6FF;
  margin-top: -30px;
  margin-bottom: -50px; }
  /* line 591, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .protrat h2 {
    text-align: center; }

/* line 596, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.kontaktpolysninger {
  margin-top: 60px; }

/* line 600, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.tekst {
  justify-content: center;
  margin-left: 75px;
  padding-right: 50px;
  margin-top: 30px; }

/* line 611, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.billedemap img {
  height: 400px;
  width: auto;
  margin-top: 10px; }

/* line 618, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.listen {
  list-style: none;
  padding-top: 30px;
  width: 200px; }

/* line 623, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.mobilmap {
  display: none; }

/* line 630, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
footer {
  background-color: #163f70;
  padding-bottom: 5vh; }

/* line 635, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#footer-img {
  width: 100%;
  margin-bottom: -10px;
  margin-top: 10vh; }

/* line 641, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.footer-grid {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 45% 37%;
  grid-gap: 5%;
  grid-template-areas: 'footer-left footer-right' 'footer-left footer-icons';
  justify-content: center;
  color: #FAFAFA; }
  /* line 651, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .footer-grid div {
    justify-self: flex-start; }
  /* line 655, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .footer-grid .footer-certificates img {
    width: 32%;
    max-width: 100px;
    height: auto; }
  /* line 661, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .footer-grid .footer-icons {
    grid-area: footer-icons; }
    /* line 663, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
    .footer-grid .footer-icons img {
      margin: 10px 5px 0px 0px;
      width: 15%; }

/* line 671, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.footer-right {
  text-align: center;
  grid-area: footer-right; }

/* line 676, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.footer-left {
  margin-left: 20%;
  grid-area: footer-left; }

/* line 683, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#service {
  width: 1920px; }

/* line 686, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.big-phone {
  display: none; }

/* line 691, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#repair {
  position: relative;
  height: 500px;
  width: 100%;
  background: url(../images/service-repair.jpg);
  margin-top: 20px; }

/* line 699, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#conversion {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  background: url(../images/service-conersion.jpg);
  margin-bottom: 20px;
  margin-top: 20px; }

/* line 710, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#newbuilding {
  position: relative;
  height: 500px;
  width: 100%;
  background: url(../images/service-newbuildings.jpg); }

/* line 717, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#re-box, #con-box, #new-box {
  position: relative;
  float: right;
  height: 300px;
  width: 600px;
  top: 100px; }

/* line 725, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#re-box, #new-box {
  margin-right: 50px; }

/* line 729, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#con-box {
  margin-left: 50px; }

/* line 733, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.ser-textbox {
  background-color: black;
  height: 300px;
  width: 600px;
  opacity: 70%; }

/* line 740, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.ser-title {
  font-size: 30px;
  margin-bottom: 10px; }

/* line 745, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.ser-text {
  margin-bottom: 10px;
  margin-right: 10px; }

/* line 750, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.mostwanted {
  background: #CE3233;
  border: solid #CE3233;
  border-radius: 20px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none; }

/* line 760, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.ser-title,
.mostwanted,
.ser-text {
  color: white;
  position: relative;
  bottom: 280px;
  margin-left: 10px; }

/* line 770, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#repair-bigpicture {
  position: relative;
  height: 700px;
  width: 1920px;
  background: url(../images/service-big.jpg);
  background-repeat: no-repeat; }
  /* line 776, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  #repair-bigpicture h1 {
    position: relative;
    color: white;
    font-size: 80px;
    top: 300px; }

/* line 786, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
#repair-box {
  position: relative;
  top: 300px;
  background: url(../images/tb.svg);
  height: 600px;
  width: 1920px;
  color: black;
  text-align: center; }

/* line 796, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
.gallery-text {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold; }

@media only screen and (max-width: 768px) {
  /* line 804, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .most-wanted-btns {
    height: 150px; }
  /* line 807, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .most-wanted-btns a:nth-child(1) {
    height: 150px; }
  /* line 810, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .most-wanted-btns a:nth-child(2) {
    height: 150px; }
  /* line 813, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .most-wanted-btns a:nth-child(3) {
    height: 150px; }
  /* line 816, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .most-wanted-btns a h1 {
    font-size: 18px; }
  /* line 819, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .menubox {
    display: none; }
  /* line 823, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .contactbox {
    display: none; }
  /* line 826, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .about-grid {
    grid-template-columns: 100%;
    grid-template-areas: 'intro-video' 'about-text'; }
  /* line 833, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .frontpage-help {
    grid-template-columns: 100%;
    grid-template-areas: 'help-text' 'help-img'; }
  /* line 842, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .reakke1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    /* line 846, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
    .reakke1 img {
      margin-bottom: 15px; }
  /* line 851, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .reakke2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    /* line 855, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
    .reakke2 img {
      margin-bottom: 15px;
      margin-top: 0; }
  /* line 860, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .reakke3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    /* line 864, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
    .reakke3 img {
      margin-bottom: 15px; }
  /* line 868, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .reakke4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    /* line 872, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
    .reakke4 img {
      margin-bottom: 15px; }
  /* line 876, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .billedemap img {
    display: none; }
  /* line 880, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .tekst {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column; }
  /* line 889, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .mobilmap {
    display: block; }
  /* line 894, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .mobilmap img {
    width: 600px;
    height: auto;
    margin-bottom: 60px;
    margin-top: 50px;
    margin-left: 120px; }
  /* line 904, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .tekstboxcontact {
    display: flex;
    flex-direction: column; }
  /* line 910, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  #staff {
    margin-top: 20px;
    text-align: center; }
  /* line 915, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .mainpic {
    display: none; }
  /* line 919, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  #service {
    width: 768px; }
  /* line 923, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .ser-textbox {
    width: 100%;
    height: 100%; }
  /* line 927, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  #re-box, #con-box, #new-box {
    position: relative;
    width: 768px;
    height: 500px;
    display: block;
    float: none;
    top: 0;
    margin-left: 0;
    margin-right: 0; }
  /* line 937, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .ser-text {
    text-align: center; }
  /* line 940, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .ser-title {
    text-align: center; }
  /* line 943, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .mostwanted {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 340px;
    margin-left: 340px; }
  /* line 950, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  #conversion, #repair, #newbuilding {
    width: 768px;
    height: 500px; }
  /* line 954, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .big-phone {
    display: block; }
  /* line 957, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  #repair {
    background: url(../images/service-repair-small.jpg); }
  /* line 960, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  #newbuilding {
    background: url(../images/service-newbuildings-small.jpg); }
  /* line 963, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  #conversion {
    background: url(../images/service-conersion-small.jpg); }
  /* line 968, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .footer-grid {
    font-size: 12px; }
  /* line 972, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .footer-icons {
    margin-left: 20%; }
  /* line 976, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .footer-grid {
    display: grid;
    grid-template-areas: 'footer-left footer-right' 'footer-icons footer-right'; }
    /* line 982, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
    .footer-grid .footer-certificates img {
      width: 50%; } }

@media only screen and (min-width: 769px) {
  /* line 992, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .burgerbar,
  .burger-btn {
    display: none; } }

@media only screen and (max-width: 550px) {
  /* line 1003, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .logo {
    width: 250px; }
  /* line 1007, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .reakke1 {
    display: flex;
    flex-direction: column;
    padding-left: 22%; }
  /* line 1015, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .reakke2 {
    display: flex;
    flex-direction: column;
    padding-left: 22%;
    margin-top: -2px; }
  /* line 1021, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .reakke3 {
    display: flex;
    flex-direction: column;
    padding-left: 22%;
    margin-top: -2px; }
  /* line 1027, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .reakke4 {
    display: flex;
    flex-direction: column;
    padding-left: 22%;
    margin-top: -2px; }
  /* line 1035, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .billedemap img {
    display: none; }
  /* line 1041, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .tekstbox {
    height: 00px;
    width: 100%; }
  /* line 1047, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .tekst {
    text-align: center;
    margin-right: 50px; }
  /* line 1054, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .mobilmap {
    display: block; }
  /* line 1059, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .mobilmap img {
    width: 400px;
    height: auto;
    margin-left: 25%; }
  /* line 1067, ../../../../../../../../../../../../../Users/nikolajegeskovnielsen/Documents/GitHub/EksamenAssens/sass/style.scss */
  .tekstboxcontact {
    display: flex;
    flex-direction: column; } }

/*# sourceMappingURL=style.css.map */