







.reakke1{
    
    display: flex;
flex-direction: column;
    text-align: center;
align-items: center;
    margin-right: 75px;
    margin-top: 3px;
    
}

.listen{
    list-style: none;
    text-align: center;
}

.billederkontakt img {
    
    height: auto;
width: 170px;
}


.billederkontakt {
    
    
    display: flex;
flex-direction: column;
    align-items: center;
    width: 300px;
    
    
}

.textbox-margin{
  position: relative;
    z-index: 10;
width: 300px;
    margin-top: 20px;
   }
.textbox-margin2{
  position: relative;
    z-index: 10;
width: 300px;
    margin-top: 20px;
   }
.textbox-margin3{
  position: relative;
    z-index: 10;
width: 301px;
   padding-top: 20px;
   }

.box {
    display: flex;
    flex-direction: column;
align-content: center;
    background-color: #E9F6FF;
    margin-top: -5px;
    
}

a{text-decoration: none;
    color: black;
}

.denher2{
display: flex;
flex-direction: row;;
    justify-content: center;
    
}


.denher{
display: flex;
flex-direction: row;;
    justify-content: center;
   
    
}

.denher3{
display: flex;
flex-direction: row;;
    justify-content: center;
    
}

.denher4{
display: flex;
flex-direction: row;;
    justify-content: center;
    
}

li img {height: auto;
width: 25px;
}




.iconerlist {display: flex;
flex-direction: column;
}
.mailtel{
    display: flex;
flex-direction: column;
}

.boxmail{
    display: flex;
flex-direction: column;
}
ul{list-style: none;}

.jeg{
    display: flex;
flex-direction: row;
}